.navbar-container {
  margin: 0;
  padding: 0;
  background-color: #282828;
  list-style: none;
  width: fit-content;
  height: 100%;
  justify-content: center;
  border-radius: 10px;
}

.navbar-container a {
  color: inherit;
  text-decoration: none;
}

.navbar-container li {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.navbar-container li:hover {
  background-color: #3C3C3C;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 500ms;
}