.relacao-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.relacao-form {
  width: 40%;
  background-color: #282828;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.relacao-form label {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.relacao-form button {
  margin-top: 20px;
}

.relacao-erro {
  text-wrap: wrap;
  color: red;
}